USE [master]
GO
/****** Object:  Database [MNDJ]    Script Date: 4/8/2019 10:50:17 PM ******/
CREATE DATABASE [MNDJ] ON  PRIMARY 
( NAME = N'MNDJ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\MNDJ.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MNDJ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\MNDJ_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MNDJ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MNDJ]
GO
/****** Object:  Table [dbo].[Kvalifikacije]    Script Date: 4/8/2019 10:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kvalifikacije](
	[KvalifikacijeID] [int] NOT NULL,
	[SSS] [int] NULL,
	[Struka] [varchar](50) NULL,
 CONSTRAINT [PK_Kvalifikacije] PRIMARY KEY CLUSTERED 
(
	[KvalifikacijeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesto]    Script Date: 4/8/2019 10:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesto](
	[Ptt] [int] NOT NULL,
	[Naziv] [varchar](50) NULL,
 CONSTRAINT [PK_Mesto] PRIMARY KEY CLUSTERED 
(
	[Ptt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrganizacionaJedinica]    Script Date: 4/8/2019 10:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizacionaJedinica](
	[SifraOJ] [int] NOT NULL,
	[NazivOJ] [varchar](50) NULL,
 CONSTRAINT [PK_OrganizacionaJedinica] PRIMARY KEY CLUSTERED 
(
	[SifraOJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Radnik]    Script Date: 4/8/2019 10:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Radnik](
	[SifraRadnika] [int] NOT NULL,
	[ImeRadnika] [varchar](50) NULL,
	[PrezimeRadnika] [varchar](50) NULL,
	[JMBG] [varchar](50) NULL,
	[Pol] [varchar](50) NULL,
	[Ulica] [varchar](50) NULL,
	[KvalifikacijeID] [int] NULL,
	[Ptt] [int] NULL,
	[SifraOJ] [int] NULL,
 CONSTRAINT [PK_Radnik1] PRIMARY KEY CLUSTERED 
(
	[SifraRadnika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RadnoMesto]    Script Date: 4/8/2019 10:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadnoMesto](
	[SifraRM] [int] NOT NULL,
	[SifraOJ] [int] NOT NULL,
	[NazivRM] [varchar](50) NULL,
	[BrojIzvrsioca] [int] NULL,
	[KvalifikacijeID] [int] NULL,
 CONSTRAINT [PK_RadnoMesto] PRIMARY KEY CLUSTERED 
(
	[SifraRM] ASC,
	[SifraOJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UgovorORadu]    Script Date: 4/8/2019 10:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UgovorORadu](
	[UgovorID] [int] NOT NULL,
	[DatumSklapanja] [datetime] NULL,
	[DatumUkidanja] [datetime] NULL,
	[TipUgovora] [varchar](50) NULL,
	[SifraRadnika] [int] NULL,
	[SifraRM] [int] NULL,
 CONSTRAINT [PK_UgovorORadu] PRIMARY KEY CLUSTERED 
(
	[UgovorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zaposleni]    Script Date: 4/8/2019 10:50:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zaposleni](
	[ZaposleniID] [int] NOT NULL,
	[Ime] [varchar](50) NULL,
	[Prezime] [varchar](50) NULL,
	[KorisnickoIme] [varchar](50) NULL,
	[KorisnickaSifra] [varchar](50) NULL,
 CONSTRAINT [PK_Zaposleni] PRIMARY KEY CLUSTERED 
(
	[ZaposleniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Radnik]  WITH CHECK ADD  CONSTRAINT [FK_Radnik_Kvalifikacije] FOREIGN KEY([KvalifikacijeID])
REFERENCES [dbo].[Kvalifikacije] ([KvalifikacijeID])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_Kvalifikacije]
GO
ALTER TABLE [dbo].[Radnik]  WITH CHECK ADD  CONSTRAINT [FK_Radnik_Mesto] FOREIGN KEY([Ptt])
REFERENCES [dbo].[Mesto] ([Ptt])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_Mesto]
GO
ALTER TABLE [dbo].[Radnik]  WITH CHECK ADD  CONSTRAINT [FK_Radnik_OrganizacionaJedinica] FOREIGN KEY([SifraOJ])
REFERENCES [dbo].[OrganizacionaJedinica] ([SifraOJ])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_OrganizacionaJedinica]
GO
ALTER TABLE [dbo].[RadnoMesto]  WITH CHECK ADD  CONSTRAINT [FK_RadnoMesto_Kvalifikacije] FOREIGN KEY([KvalifikacijeID])
REFERENCES [dbo].[Kvalifikacije] ([KvalifikacijeID])
GO
ALTER TABLE [dbo].[RadnoMesto] CHECK CONSTRAINT [FK_RadnoMesto_Kvalifikacije]
GO
ALTER TABLE [dbo].[RadnoMesto]  WITH CHECK ADD  CONSTRAINT [FK_RadnoMesto_OrganizacionaJedinica] FOREIGN KEY([SifraOJ])
REFERENCES [dbo].[OrganizacionaJedinica] ([SifraOJ])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RadnoMesto] CHECK CONSTRAINT [FK_RadnoMesto_OrganizacionaJedinica]
GO
ALTER TABLE [dbo].[UgovorORadu]  WITH CHECK ADD  CONSTRAINT [FK_UgovorORadu_RadnoMesto] FOREIGN KEY([SifraRM], [SifraRadnika])
REFERENCES [dbo].[RadnoMesto] ([SifraRM], [SifraOJ])
GO
ALTER TABLE [dbo].[UgovorORadu] CHECK CONSTRAINT [FK_UgovorORadu_RadnoMesto]
GO
USE [master]
GO
